@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #020c10;
    color: #fff;
    font-weight: 800;
    overflow-x: hidden;
}

::selection{
    background: rgb(41, 194, 255);
    color: #fff;
}